@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f3f3f3;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('./assets/graph.svg');
    background-repeat: repeat;
    background-size: 150px 150px;
    opacity: 0.08; 
    pointer-events: none;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 15px;
}

.navbar .navbar-wrapper {
  display: flex;
  gap: 60px;
  background-color: white;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid rgb(170, 170, 170);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}

.navbar .navbar-wrapper span{
  color: rgb(60, 60, 60);
  font-size: 1.2rem;
}

.hero{
  display: flex;
  margin-top: 100px;
}

.hero .left{
  width: 50%;
  padding: 20px;
}

.hero .right{
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero .right .absolute{
  position: absolute;
  animation: float 6s ease-in-out infinite, fade-in 0.6s ease-in 1;
}

.hero .right .absolute.fullstackbanner{
  width: 250px;
  bottom: 10%;
  left: 15%;
  border-radius: 8px;
}

.hero .right .absolute.aibanner{
  width: 250px;
  border-radius: 8px;
  right: 10%;
  top: 30%;
}

.hero .right .absolute.js{
  width: 100px;
  bottom: 20%;
  right: 20%;
}

.hero .right .absolute.py{
  width: 100px;
  top: 50%;
  left: 15%;
}

.hero .right .me{
  width: 60%;
  transform: rotate(-3deg) scale(0.96);
  animation: pinned-pop 1s cubic-bezier(.68,-0.55,.27,1.55) 1;
  transition: 1s;
}

.hero .right .me:hover{
  cursor: pointer;
  transform: translateY(-2px) scale(102%);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(-2deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes pinned-pop {
  0% {
    opacity: 0;
    transform: rotate(-8deg) scale(0.85) translateY(-40px);
    /* box-shadow: 0 0 0 rgba(0,0,0,0); */
  }
  70% {
    opacity: 1;
    transform: rotate(2deg) scale(1.03) translateY(8px);
    /* box-shadow: 0 16px 40px rgba(0,0,0,0.22), 0 2px 8px rgba(0,0,0,0.12); */
  }
  100% {
    opacity: 1;
    transform: rotate(-3deg) scale(0.96) translateY(0);
    /* box-shadow: 0 12px 32px rgba(0, 0, 0, 0.18), 0 2px 8px rgba(0,0,0,0.10); */
  }
}
