@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f3f3f3;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('./assets/graph.svg');
    background-repeat: repeat;
    background-size: 150px 150px;
    opacity: 0.08; 
    pointer-events: none;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar .navbar-wrapper {
  display: flex;
  gap: 60px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  border: 2px solid rgb(170, 170, 170);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}

.navbar .navbar-wrapper span{
  color: rgb(42, 42, 42);
  font-size: 1.2rem;
}